/* film names list */

.button-55 {
  font-weight: bold;
  cursor: pointer;
  display: list-item;
  margin: 12px;
  font-size: 15px;
  padding: 0.1em 1em;
  width: 20em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button-55::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #69daba 10%, #f9f047 90%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button-55:hover::before {
  width: 20em;
}

/* film names header*/

#bottone1 {
  padding-bottom: 6px;
  padding-top: 6px;
  border-radius: 9px;
  background: #69daba;
  border: none;
  font-family: inherit;
  text-align: center;
  transition: 0.4s;
}

#bottone1:hover {
  box-shadow: 7px 5px 56px -14px #c3d900;
}

#bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #c3d900;
}
