@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Merienda", cursive;
  background-color: rgb(232, 232, 232);
}

#heading {
  color: blue;
  margin-left: 15px;
  font-size: 38px;
}

.button-55 {
  font-weight: bold;
  cursor: pointer;
  display: list-item;
  margin: 15px;
  font-size: 15px;
  padding: 0.2em 1em;
  width: 20em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button-55::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button-55:hover::before {
  width: 20em;
}
