@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Merienda", cursive;
  background-color: rgb(232, 232, 232);
}

/*--- nav--- */

/* Header */

#header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(248, 44, 44);
  justify-content: space-between;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.top-right ul {
  display: inline-flex;
  list-style: none;
  margin-right: 20px;
}

#login {
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(222, 114, 114);
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.user {
  font-size: 24px;
}

#heading {
  color: blue;
  margin-left: 15px;
  font-size: 30px;
}

.sidebar {
  /* border-right: solid 1px black; */
  flex: 0.2;
  /* min-width: 250px; */
  margin-top: 0px;
  padding-inline: 20px;
  border-right: #0fd850 1px solid;
}

.button-55 {
  font-weight: bold;
  cursor: pointer;
  display: list-item;
  margin: 15px;
  font-size: 15px;
  padding: 0.2em 1em;
  width: 20em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button-55::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button-55:hover::before {
  width: 20em;
}
