@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merienda", cursive;
  background-color: rgb(232, 232, 232);
}

/*--- nav--- */

#header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #263038;
  justify-content: space-between;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.fa-masks-theater {
  font-size: 30px;
  padding: 20px;
  margin-left: 15px;
}

.top-right ul {
  display: inline-flex;
  list-style: none;
  margin-right: 20px;
}

#login {
  font-family: inherit;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #69daba;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.user {
  font-size: 24px;
  color: #69daba;
}

/* sidebar --- film names*/

.sidebar {
  margin-top: 0px;
  padding-inline: 20px;
}

#sidebar-header {
  position: sticky;
  top: 50px;
  width: 328px;
  z-index: 100;
}

/* main div css */

#main {
  display: flex;
  justify-content: space-evenly;
}

/* center div start --- details/tickets */

.tickets {
  margin-inline: 5%;
}

#film-details {
  padding: 10px;
  margin-top: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  font-size: 22px;
}

/*right div start --- poster*/

.poster-wrapper {
  margin-inline: 5%;
}

#poster-container {
  position: sticky;
  top: 106px;
  z-index: 100;
  margin-top: 4px;
  padding: 20px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#stick-me {
  margin-top: 0px;
  position: sticky;
  top: 50px;
  z-index: 100;
}

#poster {
  aspect-ratio: 1/1;
  display: flex;
  max-height: 600px;
  min-height: 300px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.ribbon {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  font-size: 22px;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
}

.icon-container i {
  margin-right: 12px;
}

.voted {
  color: #e0245e;
}

/* footer */
#footer {
  position: sticky;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #263038;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
